/SGcWs/nbproject/private/
/SGcWs/build/
/SGcWs/dist/
/PDao/build/
/SgcDao/build/
/testesWs/nbproject/private/
/WebApplication1/nbproject/private/
/SgcWS/nbproject/private/
/SgcWS/build/
/SgcDao/dist/
/SgcWS/dist/
/nbproject/private/
/build/