<app-menu-global></app-menu-global>
<router-outlet></router-outlet>

<h2>Cadastro de usuário</h2>



<form>
    
    Nome: <br/>
    <input class="input" type="text" name="nome" [(ngModel)]="usuario.nome" /> <br /><br/>
    
    E-mail:<br/>
    <input type="text" name="email" [(ngModel)]="usuario.email"> <br /><br/>
    
    Usuario: <br/>
    <input type="text" name="username" [(ngModel)]="usuario.username"> <br/>
    
    <br><br>
    <input class="button" type="button" value="  Salvar  " (click)="salvarUsuario()">
    <br><br>
    <input class="button" type="button" value="Cancelar" (click)="voltar()">

</form>

<br/>

{{usuario.nome}}
