 body {
    font-family: Verdana;
    font-size: 13px;
    background-color: #C7C8CA;
        
}

label {   
    font-family: verdana;
    width: 90px;    
}


ol, ul {
    font-family: verdana;
    list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
    font-family: verdana;
}



#footer {
    font-family: verdana;
    height: 40px;
    width: 100%;
    background: #33FF66;
    clear: both;
    position: fixed
}

img{
    font-family: verdana;
    border-radius: 10px;
}

h2{
   font-family: verdana;
   font-weight: bold;
   color: #2FA83B;
}




