fieldset{
  border-style: dotted;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #3866A3; 
  border-color:  #2FA83B;
  border-style: dotted; 
  
}

#fieldsetFundo{
  border-radius: 10px;
  background-color: #85BFFF;
  border-color:  #FFFDF0;
}

h5{
    font-weight: bold;
    color: #2FA83B;
}

legend{
    font-family: verdana;

}