
<h2>Lista de usuários castrados</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Usuario</th>
    <th>Editar</th>
    <th>Excluir</th>    
  </tr>
  
  <tr *ngFor="let usuario of usuarios;let ind=index">
  
    <td>{{usuario.nome}}</td>
    <td>{{usuario.email}}</td>
    <td>{{usuario.usuario}}</td>
   
    <td><a [routerLink]="['/edicao',ind]">Editar</a></td>
    <td><a routerLink="/lista" (click)="excluirUsuario(ind)">Excluir</a></td>    
  
  </tr>
</table>

<br/>

<a class="button" click routerLink="/novo">Novo Usuario </a>
