table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color:#faf6f2;
}


.button {
   border: 1px solid #65d472;
   background: lightsalmon;
   background: -webkit-gradient(linear, left top, left bottom, from(#424b57), to(#65d472));
   padding: 10px 50px;
   -webkit-border-radius: 17px;
   -moz-border-radius: 17px;
   border-radius: 5px;

   color:antiquewhite;
   font-size: 13px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}


.button:hover {
   border-top-color: #297837;
   background: #297837;
   color: #faf6f2;
}


.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}


h2{
    color:bisque;
    font-size: 16px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    
}