<app-menu-global></app-menu-global>
<h2>Cadastro de pessoas </h2>

<br/>

<form>
    
    Nome: <br/>
    <input class="input" type="text" > <br /><br />
    
    E-mail:<br/>
    <input type="text" name="email" > <br /><br />
    
    telefone: <br/>
    <input type="text" name="telefone"> <br/><br />

    cidade: <br/>
    <input type="text" name="cidade"> <br/><br />
    
    <br><br>
    <input class="button" type="button" value="Salvar    ">
    <br><br>
    <input class="button" type="button" value="Cancelar">

</form>

<br/>

