<ul id="menu-bar">

  <li class="active"><a  routerLink="/formPrincipal">Home</a></li>
   
 
  <li><a href="#">Cadastros</a>
    <ul>           
      <li><a routerLink="/lista">Usuarios</a></li>       
      <li><a routerLink="/listaPessoa">Pessoas</a></li>
      <li><a >Contratos</a></li>
      <li><a >Utilitários</a></li>    
    </ul>
  </li>

    <li><a href="#">Operações</a>
    <ul>
      <li><a >Caixa</a></li>     
    </ul>
  </li>

    <li><a href="#">Ajuda</a>
    <ul>
      <li><a>...</a></li>
    </ul>
  </li> 

  <li><a routerLink="/">Sair</a></li>
</ul>


<div>
  <footer>
   
  </footer>
</div>

