/* You can add global styles to this file, and also import other style files */

.mainclass
.maimcalss{
   Font-family : Arial , Verdana , sans-serif ;
   Background-color : red 
}

body{
    background-color:cornsilk;
}

small { 
    font-size: smaller;
}