<app-menu-global></app-menu-global>
<h2>Cadastro de pessoas </h2>

<br/>

<form>
    
    Nome: <br/>
    <input class="input" type="text" [(ngModel)]="pessoas.name" /> <br /><br />
 

    E-mail:<br/>
    <input type="text" name="email"  [(ngModel)]="pessoas.email"> <br /><br />
    
    telefone: <br/>
    <input type="text" name="telefone"  [(ngModel)]="pessoas.telefone"> <br/><br />

    cidade: <br/>
    <input type="text" name="cidade" [(ngModel)]="pessoas.cidade"> <br/><br />
    
    <br><br>
    <input class="button" type="button" value="  Salvar  "  (click)="salvarPessoa()">
    <br><br>
    <input class="button" type="button" value="Cancelar" (click)="cancelar()">

</form>

<br/>

